*{
    box-sizing: border-box;
    margin: ;
    padding: 0;
}
/* header logo */

.parte-superiore{
    padding: 30px;
    width: 400px;
    height: 150px;
    
    
}

.immagine{
    vertical-align: middle;
}

.toboolist{
    font-size: 50px;
    vertical-align: middle;

/* lista */

}
.container{
    /* background-color: rgba(0,0,0,.5); */
    padding: 5px;
    margin-left: 250px;
    width: 1200px;
    height: 800px;
    /* margin: 0 auto; */
    
}

.task{
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(0, 156, 218);
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.task2{
    margin-left: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgb(114, 114, 114);
    color: rgb(114, 114, 114);
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.title-1{
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgb(54, 54, 54);
}

span{
    font-size: 20px;
    color: rgb(54, 54, 54);
}

.checked{
    color: lime;
    border-radius: 50%;
    text-align: center;
    border: 1px solid lime;
}

.cross{
    color: red;
    border-radius: 50%;
    text-align: center;
    border: 1px solid red;
}

li{
    list-style-type: none;
    color: rgb(54, 54, 54);
    display: inline-block;
    font-size: 20px;
}

.botton-blue{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: rgb(0, 156, 218);
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}

/* today */


.title-2{
    margin-top: 40px;
    margin-bottom: 10px;
    color: rgb(54, 54, 54);
}

.botton-purple{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: purple;
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}

.botton-green{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: rgb(0, 255, 136);
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}

.botton-orange{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: rgb(255, 153, 0);
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}

/* upcoming */

.title-3{
    margin-top: 40px;
    margin-bottom: 10px;
    color: rgb(54, 54, 54);
}

.botton-fuxia{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: rgb(255, 0, 179);
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}

.botton-olio{
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: rgb(166, 255, 0);
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}